<!DOCTYPE html>
<html>
<head>
  <title>Arlab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<a href="<%= students_path %>">Students Index</a>
<a href="<%= school_classes_path %>">School Classes Index</a>
</nav>
<%= yield %>

</body>
</html>
